<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        margin-bottom: 20px;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        gap: 10px;
        text-decoration: none;
        padding: 20px;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
    }

</style>

<body>

    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('accounts') }}">Accounts</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('transactions') }}">Transactions</a></li>
            <li><a href="{{ url_for('bank_statement') }}">Bank Statement</a></li>
            <li><a href="{{ url_for('admin_login') }}"></a></li>
        </ul>
    </nav>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.phone_number }}</td>
                <td>
                    <form action="{{ url_for('approve_user', social_security=user.social_security) }}" method="POST">
                        <button type="submit">Approve</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>