<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start a Transaction</title>
</head>

<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: black;
        color: white;
    }

    h1 {
        text-align: center;
        padding: 20px;
    }



</style>

<body>
    <h1>Deposit / Withdraw Money Below</h1>

    <div class="body-container">
        <div class="body-content">
            <input type="text" name="card_number" id="card_number_input" placeholder="Card Number">
            <input type="text" name="expiry_date" id="expiry_date_input" placeholder="Expiry Date">
            <input type="text" name="CCV" id="ccv_input" placeholder="CCV">
            <input type="text" name="amount_for_transaction" id="transaction_amount_input" placeholder="Transaction Amount">
            <button id="submit_btn">Submit Transaction</button>
        </div>
    </div>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const card_num_input = document.getElementById("card_number_input")
        const expiry_date_input = document.getElementById("expiry_date_input")
        const ccv_input = document.getElementById("ccv_input")
        const transaction_amount_input = document.getElementById("transaction_amount_input")
        const submit_btn = document.getElementById("submit_btn")

        transaction_amount_input.addEventListener("keydown", function(event) {
            if (event.key == "Enter") {
                submit_btn.click()
            }
        })

        submit_btn.addEventListener("click", async function() {
            const card_num = card_num_input.value
            const expiry_date = expiry_date_input.value
            const ccv = ccv_input.value
            const transaction_amount = transaction_amount_input.value

            const response = await fetch(`/api/account/${users_bank_account}`);
            const user_info_json = await response.json()
        })

    })
</script>

</html>