<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start a Transaction</title>
</head>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: rgb(47, 47, 47);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
    }

    button {
        font-size: 20px;
        text-align: center;
        background-color: red;
        color: white;
        border: 1px transparent solid;
        border-radius: 5px;
        padding: 15px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        margin-bottom: 20px;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        gap: 10px;
        text-decoration: none;
        padding: 20px;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
    }

    h1 {
        text-align: center;
        padding: 20px;
    }

    .body-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .body-content input {
        font-size: 20px;
        padding: 15px 10px;
    }

    #second-body-content {
        display: none;
    }

</style>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('accounts') }}">Accounts</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('transactions') }}">Transactions</a></li>
            <li><a href="{{ url_for('bank_statement') }}">Bank Statement</a></li>
            <li><a href="{{ url_for('admin_login') }}">Admin Login</a></li>
        </ul>
    </nav>

    <h1>Deposit / Withdraw Money Below</h1>

    <div class="body-container">
        <div class="body-content">
            <input type="text" placeholder="Bank Account Number" id="card-bank-account-num">
            <input type="text" name="card_number" id="card_number_input" placeholder="Card Number">
            <input type="text" name="expiry_date" id="expiry_date_input" placeholder="MM/YYYY (For example: 12/2025)">
            <input type="text" name="CCV" id="ccv_input" placeholder="CCV">
            <input type="text" name="amount_for_transaction" id="transaction_amount_input" placeholder="Transaction Amount">
            <div class="buttons-container">
                <button id="deposit-btn">Deposit</button>
                <button id="withdraw-btn">Withdraw</button>
            </div>
        </div>
    </div>

    <h1>Send Someone Money</h1>

    <h2>Do you want to use your bank account, or a card?</h2>
    <div class="buttons-container">
        <button id="use-bank-account-btn">Use Bank Account</button>
        <button id="use-card-btn">Use Card</button>
    </div>

    <div class="body-container">
        <div class="body-content" id="second-body-content">
            <input type="text" name="senders-account-num" id="senders-account-num-input" placeholder="Your Account Number">
            <input type="text" name="senders-card-num" id="senders-card-num-input" placeholder="Your Card Num">
            <input type="text" name="senders-card-ccv" id="senders-card-ccv-input" placeholder="Your Card's CCV">
            <input type="text" name="recipients-account-num" id="recipients-account-num-input" placeholder="Recipient's Account Number">
            <input type="text" name="Transaction Amount" id="transaction-amount-input" placeholder="Amount To Send">
            <button id="send-btn">Send</button>
        </div>
    </div>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const card_num_input = document.getElementById("card_number_input")
        const expiry_date_input = document.getElementById("expiry_date_input")
        const ccv_input = document.getElementById("ccv_input")
        const transaction_amount_input = document.getElementById("transaction_amount_input")
        const deposit_btn = document.getElementById("deposit-btn")
        const withdraw_btn = document.getElementById("withdraw-btn")
        const send_btn = document.getElementById("send-btn")
        const senders_account_num_input = document.getElementById("senders-account-num-input")
        const recipients_account_num_input = document.getElementById("recipients-account-num-input")
        const senders_transaction_amount_input = document.getElementById("transaction-amount-input")
        const senders_card_num_input = document.getElementById("senders-card-num-input")
        const senders_card_ccv_input = document.getElementById("senders-card-ccv-input")
        const use_bank_account_btn = document.getElementById("use-bank-account-btn")
        const use_card_btn = document.getElementById("use-card-btn")
        const account_num_first_input = document.getElementById("card-bank-account-num")

        transaction_amount_input.addEventListener("keydown", function(event) {
            if (event.key == "Enter") {
                submit_btn.click()
            }
        })

        deposit_btn.addEventListener("click", async function () {
            const card_num = card_num_input.value.trim();
            const expiry_date = expiry_date_input.value.trim();
            const ccv = ccv_input.value.trim();
            const transaction_amount = transaction_amount_input.value.trim();
            const bank_account_number = account_num_first_input.value.trim();

            try {
                const response = await fetch("/api/transaction", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        bank_account_number: bank_account_number,
                        card_number: card_num,
                        expiry_date: expiry_date,
                        ccv: ccv,
                        amount: transaction_amount
                    })
                });

                const result = await response.json();

                if (!response.ok) {
                    console.error("Server error:", result.error);
                } else {
                    console.log("Success:", result.message, "New balance:", result.new_balance);
                }
            } catch (error) {
                console.error("Fetch failed:", error);
            }
        });

        withdraw_btn.addEventListener("click", async function() {
            const card_num = card_num_input.value.trim();
            const expiry_date = expiry_date_input.value.trim();
            const ccv = ccv_input.value.trim();
            const transaction_amount = transaction_amount_input.value.trim();
            const bank_account_number = account_num_first_input.value.trim();

            try {
                const response = await fetch("/api/transaction", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        bank_account_number: bank_account_number,
                        card_number: card_num,
                        expiry_date: expiry_date,
                        ccv: ccv,
                        amount: -transaction_amount
                    })
                }); 
                const result = await response.json();

                if (!response.ok) {
                    console.error("Server error:", result.error);
                } else {
                    console.log("Success:", result.message, "New balance:", result.new_balance);
                }
            } catch (error) {
                console.error("Fetch failed:", error);
            } 
        })

        use_bank_account_btn.addEventListener("click", function(){
            document.getElementById("second-body-content").style.display = "flex"
            senders_card_num_input.style.display = "none"
            senders_card_ccv_input.style.display = "none"
            senders_account_num_input.style.display = "flex"
        })

        use_card_btn.addEventListener("click", function() {
            document.getElementById("second-body-content").style.display = "flex"
            senders_account_num_input.style.display = "none"
            senders_card_num_input.style.display = "flex"
            senders_card_ccv_input.style.display = "flex"
        })

        send_btn.addEventListener("click", async function() {
            const senders_account_num = senders_account_num_input.value
            const senders_card_num = senders_card_num_input.value
            const recipients_account_num = recipients_account_num_input.value
            const senders_transaction_amount = senders_transaction_amount_input.value
            const senders_card_ccv = senders_card_ccv_input.value

            if (senders_account_num) {
                try {
                const response = await fetch("/api/transfer", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        recipients_account_num: recipients_account_num,
                        senders_account_num: senders_account_num,
                        senders_transaction_amount: senders_transaction_amount
                    })
                });

                    const result = await response.json();

                    if (!response.ok) {
                        console.error("Server error:", result.error);
                    } else {
                        console.log("Success:", result.message, "New balance:", result.new_balance);
                    }
                } catch (error) {
                    console.error("Fetch failed:", error);
                }
            } else if (senders_card_num) {
                try {
                    const response = await fetch("/api/transfer", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({
                            recipients_account_num: recipients_account_num,
                            senders_transaction_amount: senders_transaction_amount
                        })
                    });
                    const result = await response.json();
                    if (!response.ok) {
                        console.error("Server error:", result.error);
                    } else {
                        console.log("Success:", result.message, "New balance:", result.new_balance);
                    }
                } catch (error) {
                    console.error("Fetch failed:", error);
                }
            }
        });
    });
</script>

</html>