<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wating for adimn aprovel</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('accounts') }}">Accounts</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('transactions') }}">Transactions</a></li>
            <li><a href="{{ url_for('admin_login') }}">Admin Login</a></li>
        </ul>
    </nav>
    <h2>wating for account aproverl</h2>
    <h5>we are wating for an admin to approve the creation of your account</h5>
    <h5>we thank you for your pactions</h5>
</body>
</html>